name: Generate baseline profiles

on:
  workflow_call:
    inputs:
      ## Required Inputs
      TASK_NAME:
        description: "A Gradle task for executing baseline profiles, for example `generateBaselineProfile`"
        required: true
        type: string

      ## Optional Inputs
      USE_GIT_LFS:
        description: "Whether to download Git-LFS files"
        type: boolean
        required: false
        default: false
      SECRET_PROPERTIES_FILE:
        description: "A path to file that will be populated with contents of 'SECRET_PROPERTIES' secret. This file can be picked up by Secrets Gradle plugin to embed secrets into BuildConfig."
        required: false
        type: string
        default: secrets.properties
      TIMEOUT_MINUTES:
        description: "Job timeout in minutes"
        required: false
        type: number
        default: 60
      JAVA_VERSION:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      JAVA_DISTRIBUTION:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      GRADLE_OPTS:
        description: "Gradle options"
        required: false
        type: string
        default: ""

    secrets:
      SIGNING_KEYSTORE_PASSWORD:
        description: "Password to provided keystore"
        required: true
      SIGNING_KEY_ALIAS:
        description: "Alias of the signing key in the provided keystore"
        required: true
      SIGNING_KEY_PASSWORD:
        description: "Password to the key in the provided keystore"
        required: true
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: false
        description: "Configuration cache encryption key"
      SECRET_PROPERTIES:
        required: false
        description: "Custom string that contains key-value properties as secrets. Contents of this secret will be placed into file specified by 'SECRET_PROPERTIES_FILE' input."

permissions:
  contents: write
  pull-requests: write

jobs:
  generate:
    name: Generate Baseline Profiles
    runs-on: [ ubuntu-latest ]
    timeout-minutes: ${{ inputs.TIMEOUT_MINUTES }}
    env:
      GRADLE_OPTS: ${{ inputs.GRADLE_OPTS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.USE_GIT_LFS }}
      - name: Set up environment
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/android-setup-environment@feature/matsem/changelog-android
        with:
          java_version: ${{ inputs.JAVA_VERSION }}
          java_distribution: ${{ inputs.JAVA_DISTRIBUTION }}
          gradle_cache_encryption_key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
      - name: Generate baseline profiles
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/android-generate-baseline-profiles@feature/matsem/changelog-android
        with:
          generate_gradle_task: ${{ inputs.TASK_NAME }}
          signing_keystore_password: ${{ secrets.SIGNING_KEYSTORE_PASSWORD }}
          signing_key_alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          signing_key_password: ${{ secrets.SIGNING_KEY_PASSWORD }}
          secret_properties_file: ${{ inputs.SECRET_PROPERTIES_FILE }}
          secret_properties: ${{ secrets.SECRET_PROPERTIES }}
