name: Android Release to Firebase App Distribution

on:
  workflow_call:
    inputs:
      ## Required Inputs
      TEST_GRADLE_TASKS:
        description: "A Gradle task(s) for executing unit tests, for example `testReleaseUnitTest` or `testDevEnterpriseUnitTest`"
        required: true
        type: string
      PACKAGE_GRADLE_TASK:
        description: "A Gradle task for packaging universal APK, eg. 'packageEnterpriseUniversalApk'"
        required: true
        type: string
      UPLOAD_GRADLE_TASK:
        description: "A Gradle task for uploading APK, for example `appDistributionUploadEnterprise`"
        required: true
        type: string
      APP_DISTRIBUTION_GROUPS:
        description: "Comma-separated list of app distribution group IDs"
        required: true
        type: string

      ## Optional Inputs
      USE_GIT_LFS:
        description: "Whether to download Git-LFS files"
        type: boolean
        required: false
        default: false
      VERSION_NAME:
        description: "Version name. Example: '1.X.X-snapshot'"
        required: false
        type: string
      BUILD_NUMBER_OFFSET:
        description: "Build number offset. This number will be added to GITHUB_RUN_NUMBER and can be used to make corrections to build numbers."
        required: false
        type: number
        default: 0
      RELEASE_NOTES:
        description: "Release notes for this build"
        required: false
        type: string
        default: ${{ github.event.head_commit.message }}
      KMP_FLAVOR:
        description: "KMP Build flavor. This is optional and only required by KMP projects and can be ignored on pure Android projects"
        required: false
        type: string
        default: 'test'
      SECRET_PROPERTIES_FILE:
        description: "A path to file that will be populated with contents of 'SECRET_PROPERTIES' secret. This file can be picked up by Secrets Gradle plugin to embed secrets into BuildConfig."
        required: false
        type: string
        default: secrets.properties
      JAVA_VERSION:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      JAVA_DISTRIBUTION:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      GRADLE_OPTS:
        description: "Gradle options"
        required: false
        type: string
        default: ""
      TIMEOUT_MINUTES:
        description: "Job timeout in minutes"
        required: false
        type: number
        default: 30

    secrets:
      APP_DISTRIBUTION_SERVICE_ACCOUNT:
        required: true
        description: "JSON key of service account with permissions to upload build to Firebase App Distribution"
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: false
        description: "Configuration cache encryption key"
      SECRET_PROPERTIES:
        required: false
        description: "Custom string that contains key-value properties as secrets. Contents of this secret will be placed into file specified by 'SECRET_PROPERTIES_FILE' input."
      SIGNING_KEYSTORE_PASSWORD:
        description: "Password to provided keystore"
        required: false
      SIGNING_KEY_ALIAS:
        description: "Alias of the signing key in the provided keystore"
        required: false
      SIGNING_KEY_PASSWORD:
        description: "Password to the key in the provided keystore"
        required: false

jobs:
  build:
    name: Enterprise Build
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.TIMEOUT_MINUTES }}
    env:
      GRADLE_OPTS: ${{ inputs.GRADLE_OPTS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.USE_GIT_LFS }}
      - name: Set up environment
        uses: futuredapp/.github/.github/actions/android-setup-environment@main
        with:
          java_version: ${{ inputs.JAVA_VERSION }}
          java_distribution: ${{ inputs.JAVA_DISTRIBUTION }}
          gradle_cache_encryption_key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
      - name: Build and upload to App Distribution
        uses: futuredapp/.github/.github/actions/android-build-firebase@feature/firebase-release
        with:
          test_gradle_task: ${{ inputs.TEST_GRADLE_TASKS }}
          package_gradle_task: ${{ inputs.PACKAGE_GRADLE_TASK }}
          upload_gradle_task: ${{ inputs.UPLOAD_GRADLE_TASK }}
          app_distribution_groups: ${{ inputs.APP_DISTRIBUTION_GROUPS }}
          app_distribution_service_account: ${{ secrets.APP_DISTRIBUTION_SERVICE_ACCOUNT }}
          version_name: ${{ inputs.VERSION_NAME }}
          build_number_offset: ${{ inputs.BUILD_NUMBER_OFFSET }}
          release_notes: ${{ inputs.RELEASE_NOTES }}
          kmp_flavor: ${{ inputs.KMP_FLAVOR }}
          secret_properties_file: ${{ inputs.SECRET_PROPERTIES_FILE }}
          secret_properties: ${{ secrets.SECRET_PROPERTIES }}
          signing_keystore_password: ${{ secrets.SIGNING_KEYSTORE_PASSWORD }}
          signing_key_alias: ${{ secrets.SIGNING_KEY_ALIAS }}
          signing_key_password: ${{ secrets.SIGNING_KEY_PASSWORD }}
