name: Android Pull Request Check

on:
  workflow_call:
    inputs:
      ## Required Inputs
      LINT_GRADLE_TASKS:
        description: "A Gradle task(s) for executing lint check, for example `lintCheck lintRelease`"
        required: true
        type: string
      TEST_GRADLE_TASKS:
        description: "A Gradle task(s) for executing unit tests, for example `testReleaseUnitTest` or `testDevEnterpriseUnitTest`"
        required: true
        type: string

      ## Optional Inputs
      USE_GIT_LFS:
        description: "Whether to download Git-LFS files"
        type: boolean
        required: false
        default: false
      TIMEOUT_MINUTES:
        description: "Job timeout in minutes"
        required: false
        type: number
        default: 30
      JAVA_VERSION:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      JAVA_DISTRIBUTION:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      GRADLE_OPTS:
        description: "Gradle options"
        required: false
        type: string
        default: ""

    secrets:
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: false
        description: "Configuration cache encryption key"

jobs:
  test:
    name: Lint & Tests
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.TIMEOUT_MINUTES }}
    env:
      GRADLE_OPTS: ${{ inputs.GRADLE_OPTS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.USE_GIT_LFS }}
      - name: Set up environment
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/android-setup-environment@feature/matsem/changelog-android
        with:
          java_version: ${{ inputs.JAVA_VERSION }}
          java_distribution: ${{ inputs.JAVA_DISTRIBUTION }}
          gradle_cache_encryption_key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
      - name: Run checks
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/android-check@feature/matsem/changelog-android
        with:
          lint_gradle_task: ${{ inputs.LINT_GRADLE_TASKS }}
          test_gradle_task: ${{ inputs.TEST_GRADLE_TASKS }}
