name: Deprecated Build (use ios-selfhosted-nightly-build)

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: 'Whether to download Git-LFS files.'
        type: boolean
        default: false
      custom_values:
        description: 'Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: "CUSTOM-1: 1; CUSTOM-2: 2"'
        type: string
        required: false
      runner_label:
        description: 'The custom label for the self-hosted runner to use for the build job.'
        type: string
        default: 'self-hosted'
      timeout_minutes:
        description: 'Job timeout in minutes'
        type: number
        default: 30
      xcconfig_path:
        description: 'Path to the .xcconfig file. Selected secret properties will be appended to the end of this file.'
        type: string
        required: false
      secret_properties:
        description: 'Secrets in the format KEY = VALUE (one per line).'
        type: string
        required: false
      required_keys:
        description: 'Comma-separated list of required keys.'
        type: string
        required: false
      changelog_fallback_lookback:
        description: 'The amount of time to look back for merge commits when no previous build commit is found. Default is 24 hours.'
        type: string
        required: false
        default: '24 hours'

    secrets:
      MATCH_PASSWORD:
        required: true
        description: 'Password for decrypting of certificates and provisioning profiles.'
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
        description: 'Private App Store Connect API key for submitting build to App Store.'
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
        description: 'Private App Store Connect API key for submitting build to App Store.'
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
        description: 'Private App Store Connect API issuer key for submitting build to App Store.'
      SECRET_PROPERTIES:
        required: false
        description: 'Secrets in the format KEY = VALUE (one per line).'

jobs:
  build:
    uses: futuredapp/.github/.github/workflows/ios-selfhosted-nightly-build.yml@main
    with:
      use_git_lfs: ${{ inputs.use_git_lfs }}
      custom_values: ${{ inputs.custom_values }}
      runner_label: ${{ inputs.runner_label }}
      timeout_minutes: ${{ inputs.timeout_minutes }}
      xcconfig_path: ${{ inputs.xcconfig_path }}
      secret_properties: ${{ inputs.secret_properties }}
      required_keys: ${{ inputs.required_keys }}
      changelog_fallback_lookback: ${{ inputs.changelog_fallback_lookback }}
    secrets:
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
      APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
      APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
      SECRET_PROPERTIES: ${{ secrets.SECRET_PROPERTIES }}
