name: iOS KMP Self-hosted Test

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: Whether to download Git-LFS files.
        type: boolean
        required: false
        default: false
      custom_values:
        description: "Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: \"CUSTOM-1: 1; CUSTOM-2: 2\""
        type: string
        required: false
      timeout_minutes:
        description: "Job timeout in minutes"
        type: number
        required: false
        default: 30
      kmp_swift_package_integration:
        description: "Whether KMP is integrated in Xcode project as a Swift Package"
        type: boolean
        required: false
        default: false
      kmp_swift_package_path:
        description: "If `swift_package_integration` is 'true', then specifies a location of local Swift Package with Makefile. Example: 'iosApp/shared/KMP`"
        type: string
        required: false
        default: iosApp/shared/KMP
      kmp_swift_package_flavor:
        description: "Build flavor of KMP Package"
        type: string
        default: dev
        required: false
      java_version:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      java_distribution:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      custom_build_path:
        description: "Path to directory containing Fastfile. If not specified, uses iosApp. Example: iosApp/appA"
        type: string
        required: false

    secrets:
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: false
        description: "Configuration cache encryption key"
      GITHUB_TOKEN_DANGER:
        required: false
        description: "GitHub token for Danger. Must have permissions to read and write issues and pull requests."

jobs:
  test:
    name: Test
    runs-on: self-hosted
    timeout-minutes: ${{ inputs.timeout_minutes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.use_git_lfs }}
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
      - name: Build KMP Package
        if: ${{ inputs.kmp_swift_package_integration }}
        env:
          KMP_BUILD_FLAVOR: ${{ inputs.kmp_swift_package_flavor }}
          KMP_FRAMEWORK_BUILD_TYPE: debug
        run: |
          cd ${{ inputs.kmp_swift_package_path }}
          make build
      - name: Fastlane Test
        uses: futuredapp/.github/.github/actions/ios-fastlane-test@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN_DANGER }}
          custom_values: ${{ inputs.custom_values }}
          ios_root_path: iosApp
          custom_build_path: ${{ inputs.custom_build_path }}
