name: iOS KMP Self-hosted Build

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: Whether to download Git-LFS files.
        type: boolean
        required: false
        default: false
      custom_values:
        description: "Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: \"CUSTOM-1: 1; CUSTOM-2: 2\""
        type: string
        required: false
      timeout_minutes:
        description: "Job timeout in minutes"
        type: number
        required: false
        default: 30
      kmp_swift_package_integration:
        description: "Whether KMP is integrated in Xcode project as a Swift Package"
        type: boolean
        required: false
        default: false
      kmp_swift_package_path:
        description: "If `swift_package_integration` is 'true', then specifies a location of local Swift Package with Makefile. Example: 'iosApp/shared/KMP`"
        type: string
        required: false
        default: iosApp/shared/KMP
      kmp_swift_package_flavor:
        description: "Build flavor of KMP Package"
        type: string
        default: prod
        required: false
      java_version:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      java_distribution:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      xcconfig_path:
        description: Path to the .xcconfig file. Selected secret properties will be appended to the end of this file.
        type: string
        required: false
        default: ""
      required_keys:
        description: Comma-separated list of required keys.
        type: string
        required: false
        default: ""
      changelog:
        description: "Will be used as TestFlight changelog"
        type: string
        required: false
        default: ${{ github.event.pull_request.title }}

    secrets:
      MATCH_PASSWORD:
        required: true
        description: >
          Password for decrypting of certificates and provisioning profiles.
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
        description: >
          Private App Store Connect API issuer key for submitting build to App Store.
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: false
        description: "Configuration cache encryption key"
      SECRET_PROPERTIES:
        required: false
        description: >
         Secrets in the format KEY = VALUE (one per line).

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: ${{ inputs.timeout_minutes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.use_git_lfs }}
      - name: Set up environment
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/android-setup-environment@feature/android-refactor
        with:
          java_version: ${{ inputs.java_version }}
          java_distribution: ${{ inputs.java_distribution }}
          gradle_cache_encryption_key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
      - name: Build and upload to TestFlight
        # TODO update branch ref to main, reject pull request if you see this
        uses: futuredapp/.github/.github/actions/ios-build@feature/android-refactor
        with:
          match_password: ${{ secrets.MATCH_PASSWORD }}
          app_store_connect_api_key_key: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          app_store_connect_api_key_key_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          app_store_connect_api_key_issuer_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          testflight_changelog: ${{ inputs.changelog }}
          secret_xcconfig_path: ${{ inputs.xcconfig_path }}
          secret_properties: ${{ secrets.SECRET_PROPERTIES }}
          secret_required_keys: ${{ inputs.required_keys }}
          kmp_swift_package_integration: ${{ inputs.kmp_swift_package_integration }}
          kmp_swift_package_path: ${{ inputs.kmp_swift_package_path }}
          kmp_swift_package_flavor: ${{ inputs.kmp_swift_package_flavor }}
          custom_values: ${{ inputs.custom_values }}
