name: iOS KMP Self-hosted Release

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: Whether to download Git-LFS files.
        type: boolean
        required: false
        default: false
      custom_values:
        description: "Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: \"CUSTOM-1: 1; CUSTOM-2: 2\""
        type: string
        required: false
      kmp_swift_package_integration:
        description: "Whether KMP is integrated in Xcode project as a Swift Package"
        type: boolean
        required: false
        default: false
      kmp_swift_package_path:
        description: "If `swift_package_integration` is 'true', then specifies a location of local Swift Package with Makefile. Example: 'iosApp/shared/KMP`"
        type: string
        required: false
        default: iosApp/shared/KMP
      kmp_swift_package_flavor:
        description: "Build flavor of KMP Package"
        type: string
        default: prod
        required: false
      java_version:
        description: "Java version to use"
        required: false
        type: string
        default: '17'
      java_distribution:
        description: "Java distribution to use"
        required: false
        type: string
        default: 'zulu'
      xcconfig_path:
        description: Path to the .xcconfig file. Selected secret properties will be appended to the end of this file.
        type: string
        required: false
        default: ""
      required_keys:
        description: Comma-separated list of required keys.
        type: string
        required: false
        default: ""
      custom_build_path:
        description: "Path to directory containing Fastfile. If not specified, uses iosApp. Example: iosApp/appA"
        type: string
        required: false

    secrets:
      MATCH_PASSWORD:
        required: true
        description: >
          Password for decrypting of certificates and provisioning profiles.
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
        description: >
          Private App Store Connect API issuer key for submitting build to App Store.
      SECRET_PROPERTIES:
        required: false
        description: >
         Secrets in the format KEY = VALUE (one per line).

jobs:
  release:
    runs-on: self-hosted
    timeout-minutes: 30

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        lfs: ${{ inputs.use_git_lfs }}
    - name: Export secrets to .xcconfig file
      if: ${{ inputs.xcconfig_path != '' }}
      uses: futuredapp/.github/.github/actions/ios-export-secrets@main
      with:
        XCCONFIG_PATH: ${{ inputs.xcconfig_path }}
        SECRET_PROPERTIES: ${{ secrets.SECRET_PROPERTIES }}
        REQUIRED_KEYS: ${{ inputs.required_keys }}
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.java_version }}
        distribution: ${{ inputs.java_distribution }}
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        cache-disabled: true
    - name: Build KMP Package
      if: ${{ inputs.kmp_swift_package_integration }}
      env:
        KMP_BUILD_FLAVOR: ${{ inputs.kmp_swift_package_flavor }}
        KMP_FRAMEWORK_BUILD_TYPE: release
      run: |
        cd ${{ inputs.kmp_swift_package_path }}
        make build
    - name: Fastlane Release
      uses: futuredapp/.github/.github/actions/ios-fastlane-release@main
      with:
        match_password: ${{ secrets.MATCH_PASSWORD }}
        version_number: ${{ github.ref_name }}
        app_store_connect_api_key_key: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
        app_store_connect_api_key_key_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
        app_store_connect_api_key_issuer_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
        custom_values: ${{ inputs.custom_values }}
        ios_root_path: iosApp
        custom_build_path: ${{ inputs.custom_build_path }}
    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: Build.ipa
        path: build_output/*.ipa
    - name: Upload dSYM
      uses: actions/upload-artifact@v4
      with:
        name: Build.app.dSYM.zip
        path: build_output/*.app.dSYM.zip
