name: iOS Self-hosted Test

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: 'Whether to download Git-LFS files.'
        type: boolean
        default: false
      custom_values:
        description: 'Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: "CUSTOM-1: 1; CUSTOM-2: 2"'
        type: string
        required: false
      runner_label:
        description: 'The custom label for the self-hosted runner to use for the build job.'
        type: string
        default: 'self-hosted'
      timeout_minutes:
        description: 'Job timeout in minutes'
        type: number
        default: 30
      fetch_depth:
        description: 'Number of commits to fetch. 0 indicates all history for all branches and tags. Set to 0 if Danger cannot find merge base.'
        type: number
        default: 1

    secrets:
      GITHUB_TOKEN_DANGER:
        required: false
        description: 'GitHub token for Danger. Must have permissions to read and write issues and pull requests.'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ fromJson(format('["self-hosted", "{0}"]', inputs.runner_label)) }}
    timeout-minutes: ${{ inputs.timeout_minutes }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.use_git_lfs }}
          fetch-depth: ${{ inputs.fetch_depth }}

      - name: Fastlane Test
        uses: futuredapp/.github/.github/actions/ios-fastlane-test@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN_DANGER }}
          custom_values: ${{ inputs.custom_values }}