name: iOS Self-hosted Release

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: 'Whether to download Git-LFS files.'
        type: boolean
        default: false
      custom_values:
        description: 'Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: "CUSTOM-1: 1; CUSTOM-2: 2"'
        type: string
        required: false
      runner_label:
        description: 'The custom label for the self-hosted runner to use for the build job.'
        type: string
        default: 'self-hosted'
      timeout_minutes:
        description: 'Job timeout in minutes'
        type: number
        default: 30
      xcconfig_path:
        description: 'Path to the .xcconfig file. Selected secret properties will be appended to the end of this file.'
        type: string
        required: false
      required_keys:
        description: 'Comma-separated list of required keys.'
        type: string
        required: false

    secrets:
      MATCH_PASSWORD:
        required: true
        description: 'Password for decrypting of certificates and provisioning profiles.'
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
        description: 'Private App Store Connect API key for submitting build to App Store.'
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
        description: 'Private App Store Connect API key for submitting build to App Store.'
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
        description: 'Private App Store Connect API issuer key for submitting build to App Store.'
      SECRET_PROPERTIES:
        required: false
        description: 'Secrets in the format KEY = VALUE (one per line).'

jobs:
  release:
    runs-on: ${{ fromJson(format('["self-hosted", "{0}"]', inputs.runner_label)) }}
    timeout-minutes: ${{ inputs.timeout_minutes }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: ${{ inputs.use_git_lfs }}

      - name: Export secrets
        if: ${{ inputs.xcconfig_path != '' }}
        uses: futuredapp/.github/.github/actions/ios-export-secrets@main
        with:
          XCCONFIG_PATH: ${{ inputs.xcconfig_path }}
          SECRET_PROPERTIES: ${{ secrets.SECRET_PROPERTIES }}
          REQUIRED_KEYS: ${{ inputs.required_keys }}

      - name: Fastlane Release
        uses: futuredapp/.github/.github/actions/ios-fastlane-release@main
        with:
          match_password: ${{ secrets.MATCH_PASSWORD }}
          version_number: ${{ github.ref_name }}
          app_store_connect_api_key_key: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
          app_store_connect_api_key_key_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
          app_store_connect_api_key_issuer_id: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
          custom_values: ${{ inputs.custom_values }}

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: Build.ipa
          path: build_output/*.ipa

      - name: Upload dSYM
        uses: actions/upload-artifact@v4
        with:
          name: Build.app.dSYM.zip
          path: build_output/*.app.dSYM.zip