name: Self-hosted Release

on:
  workflow_call:
    inputs:
      use_git_lfs:
        description: Whether to download Git-LFS files.
        type: boolean
        required: false
        default: false
      custom_values:
        description: "Custom string that can contains values specified in your workflow file. Those values will be placed into environment variable. Example: \"CUSTOM-1: 1; CUSTOM-2: 2\""
        type: string
        required: false
      runner_label:
        description: 'The custom label for the self-hosted runner to use for the build job.'
        type: string
        required: false
        default: 'self-hosted' # Default if you don't specify a particular runner
      xcconfig_path:
        description: Path to the .xcconfig file. Selected secret properties will be appended to the end of this file.
        type: string
        required: false
        default: ""
      required_keys:
        description: Comma-separated list of required keys.
        type: string
        required: false
        default: ""
    secrets:
      MATCH_PASSWORD:
        required: true
        description: >
          Password for decrypting of certificates and provisioning profiles.
      APP_STORE_CONNECT_API_KEY_KEY:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_KEY_ID:
        required: true
        description: >
          Private App Store Connect API key for submitting build to App Store.
      APP_STORE_CONNECT_API_KEY_ISSUER_ID:
        required: true
        description: >
          Private App Store Connect API issuer key for submitting build to App Store.
      SECRET_PROPERTIES:
        required: false
        description: >
         Secrets in the format KEY = VALUE (one per line).

jobs:
  release:
    runs-on: ${{ fromJson(format('["self-hosted", "{0}"]', inputs.runner_label)) }}
    timeout-minutes: 30

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        lfs: ${{ inputs.use_git_lfs }}
    - name: Export secrets to .xcconfig file
      if: ${{ inputs.xcconfig_path != '' }}
      uses: futuredapp/.github/.github/actions/ios-export-secrets@main
      with:
        XCCONFIG_PATH: ${{ inputs.xcconfig_path }}
        SECRET_PROPERTIES: ${{ secrets.SECRET_PROPERTIES }}
        REQUIRED_KEYS: ${{ inputs.required_keys }}
    - name: Fastlane Release
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec fastlane release
      env:
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        VERSION_NUMBER: ${{ github.ref_name }}
        APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY }}
        APP_STORE_CONNECT_API_KEY_KEY_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_KEY_ID }}
        APP_STORE_CONNECT_API_KEY_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_API_KEY_ISSUER_ID }}
        CUSTOM_VALUES: ${{ inputs.custom_values }}
    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: Build.ipa
        path: build_output/*.ipa
    - name: Upload dSYM
      uses: actions/upload-artifact@v4
      with:
        name: Build.app.dSYM.zip
        path: build_output/*.app.dSYM.zip
